RootButton, ContextButton {
    background: #2c2c2c;
    border-radius: 2px;
}

RootButton {
    border-image: url(':/contextnav/logo') 0 0 0 0 stretch stretch;
    color: white;
}
ContextButton {
    font-weight: bold;
    font-size: 9px;
}
